# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Momena"
NODE_ENV="development"

# Database (Supabase Postgres)
# DATABASE_URL = pooled connection (pgbouncer), untuk runtime app
DATABASE_URL="postgresql://user:password@host:6543/postgres?pgbouncer=true"
# DIRECT_URL = direct connection, untuk migrasi Prisma
DIRECT_URL="postgresql://user:password@host:5432/postgres"

# Supabase (jika pakai storage/realtime langsung)
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

# Auth.js (nanti)
AUTH_SECRET=""
AUTH_URL="http://localhost:3000"
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

# Cloudinary (nanti)
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
